body{
    background-color: #21443f;
    margin: 0vh;
}
h1{
    font-size: 100%;
    margin: 0vh;
}
header a {
    color: black;
    font-size: 130%;
    text-decoration: none;
    font: 1em sans-serif;
    padding: auto;
    font-size: 150%;  
    transition-duration: .2s;
}
header{
    position: fixed;
    width: 300px;
    height: 100%;
    max-height: 100vh;
    border-color: #29645b;
    border-style: solid;
    border-left: 2cm;

}
header img{
    width: 300px;
    position: relative;

}
#posts{
    padding-top: 3vh;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header a:hover{
    font-size: 160%;
}

.content{
    margin: 0vh;
    margin-left: 25%;
    position: relative;
    text-align: center;
    height: 100%;
}