{% extends 'base.html' %} {% block content %}
<form action="/datafromsisfall" method="post">
  <div class="menu-dropdown">
    <h1>{{title}}</h1>
    <select name="person-comp" id="persons">
      {% for i in range(1, 24)%}
      <option name="person" value="{{i}}.SA">{{i}} Young people Dataset</option>
      {%endfor%}
      {% for i in range(1, 16)%}
      <option name="person" value="{{i}}.SE">{{i}} Old people Dataset</option>
      {%endfor%}
    </select>
    <button id="btn" value="2">Fetch Data</button>
  </div>
</form>
<div class="lds-default" id="div">
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
</div>
<script>
  let btn = document.getElementById("btn");
  let div = document.getElementById("div");
  btn.addEventListener("click", () => {
    div.style.display = "contents"
  })
</script>
<img src="{{ png }}" />
{% endblock %}
